/* здесь используйте глобальные переменные */

$color-primary: #ffffff;
$color-secondary: #7859cf;
$color-secondary-darker: #593cac;
$color-secondary-lighter: #9070ec;
$color-text: #333333;
$color-primary-darker: #bdbdbd;
$color-primary-medium: #e2e2e2;
$bg-additional: #f8f8f8;

$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
