/* здесь используйте глобальные переменные */

$color-primary: #ffffff;
$color-secondary: #7859cf;
$color-text: #333333;
$color-text-additional: #bdbdbd;
$bg-additional: #f8f8f8;
$range-primary: #9070ec;
$range-secondary: #e2e2e2;

$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
