.advantages {
  padding: 50px 20px 60px;
  width: 320px;
}

.advantages__heading {
  margin-bottom: 4px;
}

.advantages__subheading {
  margin-bottom: 36px;
}

@media (min-width: $tablet-width) {
  .advantages {
    padding: 60px 20px 100px;
    width: $tablet-width;
  }

  .advantages__subheading {
    margin-bottom: 60px;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    padding: 100px 40px 120px;
    width: $desktop-width;
  }

  .advantages__subheading {
    margin-bottom: 80px;
  }
}
