.catalog {
  background-color: $bg-additional;
}

.catalog__wrapper {
  margin: 0 auto;
  padding: 50px 20px 44px;
  width: 320px;
}

.catalog__heading {
  margin: 0 0 4px;
}

.catalog__subheading {
  margin: 0 0 20px;
}

.catalog__list-wrapper {
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .catalog__wrapper {
    width: $tablet-width;
    padding: 80px 20px 90px;
  }
}
