.filter-range__scale {
  position: relative;
  width: 100%;
  height: 24px;
  margin: 0 0 25px;
}

.filter-range__price-input {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 44px;

  &::before {
    position: absolute;
    top: 20px;
    left: calc(50% - 4px);
    width: 8px;
    height: 2px;
    background-color: $color-primary-darker;
    content: "";
  }

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }
}

.filter-range__price {
  padding: 6px 8px;
  width: 118px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1.2px;
  color: $color-text;
  border: 2px solid $color-secondary-lighter;
  border-radius: 4px;
  appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  &::placeholder,
  &::-webkit-input-placeholder {
    color: $color-primary-darker;
  }

  &:focus {
    border-color: $color-secondary-darker;
    outline: transparent;
  }

  &:disabled {
    background-color: $bg-additional;
    border-color: $color-primary-medium;
    pointer-events: none;
  }
}

@media (min-width: $tablet-width) {
  .filter-range__scale {
    margin-bottom: 21px;
  }

  .filter-range__price-input {
    column-gap: 48px;
  }

  .filter-range__price {
    width: 87px;
  }
}

@media (min-width: $desktop-width) {
  .filter-range__scale {
    margin-bottom: 23px;
  }

  .filter-range__price-input {
    column-gap: 50px;
  }

  .filter-range__price {
    width: 134px;
  }
}
