.filter-range__scale {
  position: relative;
  width: 280px;
  height: 24px;
  margin: 0 0 24px;
}

.filter-range__bar {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: $range-secondary;

  &::before {
    position: absolute;
    top: calc(50% - 2px);
    left: 0;
    width: 241px;
    height: 4px;
    background-color: $range-primary;
    content: "";
  }

  &--disabled {
    &::before {
      background-color: $color-text-additional;
    }
  }
}

.filter-range__toggle {
  position: absolute;
  top: -12px;
  display: block;
  width: 24px;
  height: 24px;
  background-color: $color-primary;
  border-radius: 50%;
  border: 2px solid $range-primary;
  cursor: pointer;

  &--min {
    left: 0;
  }

  &--max {
    right: 20px;
    left: auto;
  }

  &::before {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background-color: rgba(120, 89, 207, 0.25);
    border-radius: 50%;
    content: "";
    display: none;
  }

  &:hover,
  &:focus {
    &::before {
      display: block;
    }
  }

  &:active {
    &::before {
      display: block;
      background-color: $color-secondary;
    }
  }

  &:disabled {
    background-color: $bg-additional;
    border-color: $color-text-additional;
    pointer-events: none;

    &::before {
      display: none;
    }
  }
}

.filter-range__price-input {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 44px;

  &::before {
    position: absolute;
    top: 19px;
    left: calc(50% - 4px);
    width: 8px;
    height: 2px;
    background-color: $color-text-additional;
    content: "";
  }

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }
}

.filter-range__price {
  padding: 6px 8px;
  width: 118px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  color: $color-text;
  border: 2px solid $range-primary;
  border-radius: 4px;
  appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

  &::placeholder {
    color: $color-text-additional;
  }

  &:focus {
    border-color: #593cac;
    outline: transparent;
  }

  &:disabled {
    background-color: $bg-additional;
    border-color: $range-secondary;
    pointer-events: none;
  }
}

@media (min-width: $tablet-width) {
  .filter-range__scale {
    width: 223px;
  }

  .filter-range__bar::before {
    width: 192px;
  }

  .filter-range__price-input {
    column-gap: 48px;
  }

  .filter-range__price {
    width: 87px;
  }
}
