.filter__form {
  margin: 0 0 36px;
}

.filter__group {
  margin: 0 0 30px;
  padding: 0;
  border: none;
}

.filter__group-range {
  width: 280px;

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }
}

.filter__group-title {
  padding: 0;
  margin: 0 0 20px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.filter__group-list {
  margin: 0;
  padding: 0;
  list-style: none;

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }
}

.filter__list-item {
  font-size: 16px;
  line-height: 24px;

  &:not(:last-child) {
    margin: 0 0 20px;
  }
}

.filter__buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }
}

@media (min-width: $tablet-width) {
  .filter__form {
    display: grid;
    grid-template-columns: repeat(3, 223px);
    gap: 40px 30px;
    margin: 0 0 44px;
  }

  .filter__group {
    width: 223px;
    margin: 0;
  }

  .filter__group-range {
    width: 223px;
  }

  .filter__buttons-wrapper {
    flex-direction: row;
    justify-content: center;
    grid-column: 1/-1;
  }
}

@media (min-width: $desktop-width) {
  .filter__form {
    display: block;
    margin: 0;
    width: 318px;
  }

  .filter__group {
    margin: 0 0 30px;
    width: 318px;

    &:last-of-type {
      margin: 0 0 40px;
    }
  }

  .filter__group-range {
    width: 318px;
  }

  .filter__buttons-wrapper {
    width: 318px;
    justify-content: flex-start;
  }
}
