.footer__logo-social-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px 38px;
  width: 320px;
  padding: 18px 20px 17px;
  margin: 0 auto;
}

.footer__logo {
  width: 82px;
  margin-top: 4px;
}

.footer__logo-text {
  display: none;
}

.footer__menu-group {
  border-top: 1px solid #f0ebff;

  &:last-child {
    border-bottom: 1px solid #f0ebff;
  }
}

.footer__group-wrapper {
  width: 320px;
  padding: 20px;
  margin: 0 auto;

  &--contacts {
    padding-bottom: 12px;
  }
}

.footer__menu-heading {
  margin: 0 0 12px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.28px;
  color: $color-secondary;
}

.footer__menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__menu-item {
  &:not(:last-child) {
    margin: 0 0 4px;
  }

  &--contacts,
  &--contacts:not(:last-child) {
    margin-bottom: 0;
  }
}

.footer__menu-link {
  position: relative;
  display: block;
  padding: 8px 0;
  color: $color-text;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0.24px;
  text-decoration: none;
  text-transform: uppercase;

  &--contacts {
    padding: 8px 19px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    letter-spacing: normal;

    &::before {
      position: absolute;
      top: 10px;
      left: 0;
      width: 13px;
      height: 16px;
      content: "";
    }
  }

  &--address::before {
    background: url("../../images/icons/stack.svg#contacts-icon-address") no-repeat center;
    background-size: 13px 16px;
  }

  &--phone::before {
    background: url("../../images/icons/stack.svg#contacts-icon-phone") no-repeat center;
    background-size: 13px 16px;
  }

  &:hover,
  &:focus {
    color: $color-secondary-lighter;
    outline: transparent;
  }

  &:active {
    color: $color-secondary-darker;
  }
}

.footer__developer-info {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .footer__wrapper {
    width: $tablet-width;
    margin: 0 auto;
    padding: 38px 20px;
  }

  .footer__logo-social-wrapper {
    width: 728px;
    padding: 0;
    margin: 0 0 27px;
  }

  .footer__logo {
    width: 170px;
  }

  .footer__additional-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 29px;
    margin: 0 0 30px;
  }

  .footer__menu-group {
    border-top: none;

    &:last-child {
      border-bottom: none;
    }
  }

  .footer__group-wrapper {
    width: 223px;
    padding: 0;
    margin: 0;
  }

  .footer__developer-info {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .footer__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 318px);
    gap: 20px 30px;
    width: $desktop-width;
    padding: 40px;
  }

  .footer__logo-social-wrapper {
    width: 318px;
    padding: 0;
    margin: 0;
    flex-direction: column;
    gap: 50px;
    justify-content: flex-start;
  }

  .footer__logo {
    width: 318px;
    margin-top: 0;
  }

  .footer__additional-menu {
    grid-column: 2/-1;
    gap: 30px;
    margin: 0;
    padding-top: 9px;
  }

  .footer__group-wrapper {
    width: 318px;
  }

  .footer__developer-info {
    padding: 0 40px;
    grid-column: 1/-1;
  }
}
