.header {
  position: relative;
  background-color: $color-primary;
  color: $color-text;
}

.header__navigation-wrapper {
  position: relative;
  width: 320px;
  min-height: 60px;
  margin: 0 auto;
}

.header__logo {
  position: absolute;
  top: 12px;
  left: 20px;
}

@media (min-width: $tablet-width) {
  .header__navigation-wrapper {
    width: $tablet-width;
    min-height: 80px;
  }

  .header__logo {
    top: 22px;
  }
}
