.map__wrapper {
  position: relative;

  &::before {
    position: absolute;
    top: calc(50% - 25px);
    right: calc(50% - 38px);
    width: 38px;
    height: 50px;
    background: url("../../images/icons/stack.svg#map-pin") no-repeat center;
    background-size: 38px 50px;
    content: "";
  }
}

.map__image {
  display: block;
  height: 420px;
  min-width: 100%;
  object-fit: cover;
}

@media (min-width: $tablet-width) {
  .map__image {
    height: 480px;
  }
}
