.navigation-menu {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0 0 0 72px;
}

.navigation-menu__toggle {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 60px;
  height: 60px;
  background: url("../../images/icons/stack.svg#nav-open-menu-icon") no-repeat center;
  background-size: 16px 16px;
  border: none;
  cursor: pointer;

  &--opened {
    background: url("../../images/icons/stack.svg#nav-close-menu-button") no-repeat center;
    background-size: 16px 16px;
  }

  &:active {
    background-color: #f0ebff;
  }
}

@media (min-width: $tablet-width) {
  .navigation-menu {
    gap: 0 59px;
    padding: 0;
  }

  .navigation-menu__toggle {
    display: none;
  }

  .navigation-menu__site-navigation {
    width: 400px;
  }

  .navigation-menu__user-navigation {
    width: 120px;
  }
}

@media (min-width: $desktop-width) {
  .navigation-menu {
    gap: 0 148px;
  }

  .navigation-menu__site-navigation {
    width: 470px;
  }

  .navigation-menu__user-navigation {
    width: 264px;
    gap: 0 20px;
  }
}
