.page__body {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

@media (min-width: $tablet-width) {}

@media (min-width: $desktop-width) {}
