.pagination {
  display: flex;
  align-items: center;
  gap: 10px 20px;
}

.pagination__list {
  display: flex;
  align-items: center;
  gap: 10px 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination__button-icon {
  &--next {
    transform: rotate(180deg);
  }
}

@media (min-width: $tablet-width) {
  .pagination__button {
    font-size: 16px;
    padding: 8px 20px;
  }

  .pagination__button-icon {
    display: none;
  }
}
