.pagination {
  display: flex;
  align-items: center;
  gap: 10px 20px;
}

.pagination__list {
  display: flex;
  align-items: center;
  gap: 10px 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination__button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
  padding: 8px 0;

}
