.product-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-list__item:not(:last-child) {
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .product-list {
    display: grid;
    grid-template-columns: repeat(2, 349px);
    gap: 30px;
  }

  .product-list__item:not(:last-child) {
    margin-bottom: 0;
  }
}
