.site-navigation {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: $color-primary;
  list-style: none;

  &--closed {
    display: none;
  }

  &--opened {
    position: absolute;
    top: calc(100% + 1px);
    width: 100%;
    z-index: 10;
  }
}

.site-navigation__item {
  border-top: 1px solid #f0ebff;

  &:last-child {
    border-bottom: 1px solid #f0ebff;
  }
}

.site-navigation__link {
  display: block;
  padding: 20px 30px;
  color: $color-text;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0.24px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .site-navigation {
    display: flex;
    flex-wrap: wrap;
  }

  .site-navigation__item {
    border: none;

    &:last-child {
      border: none;
    }
  }

  .site-navigation__link {
    padding: 32px 20px;
  }
}

@media (min-width: $desktop-width) {
  .site-navigation {
    gap: 0 20px;
  }
}
