.slider-button {
  display: block;
  padding: 3px 0 0;
  background-color: transparent;
  color: $color-secondary;
  border: none;
  appearance: none;
  cursor: pointer;

  &--next {
    transform: rotate(180deg);
  }

  &:hover,
  &:focus {
    background: linear-gradient(to right, $color-primary, transparent);
    outline: transparent;
  }

  &:active {
    background: linear-gradient(to right, rgba(120, 89, 207, 0.25), transparent);
  }

  &:disabled,
  &--disabled {
    color: $color-primary-darker;
    background: transparent;
    pointer-events: none;
  }
}

.slider-button__icon {
  width: 20px;
  height: 20px;
}
