.slider-item {
  padding: 20px 20px 60px;
  width: 320px;
  min-height: 656px;
}

.slider-item__image-wrapper {
  width: 280px;
}

.slider-item__description-wrapper {
  text-align: center;
}

.slider-item__heading {
  margin: 0 0 10px;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.72px;
}

.slider-item__description {
  margin: 0 0 20px;
}

.slider-item__order-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
  padding: 0 25px;
}

.slider-item__price-wrapper {
  display: flex;
  gap: 6px;
  align-items: center;
  padding: 0 5px;
}

.slider-item__price {
  &--old-price {
    color: $color-secondary;
    font-size: 16px;
    font-weight: 400;
    text-decoration: line-through;
  }
}

@media (min-width: $tablet-width) {
  .slider-item {
    padding: 60px 80px 476px;
    width: $tablet-width;
    min-height: 828px;
  }

  .slider-item__image-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 476px;
    margin: 0 auto;
  }

  .slider-item__heading {
    margin-bottom: 16px;
    font-size: 56px;
    line-height: 80px;
    letter-spacing: 1.12px;
  }

  .slider-item__description {
    font-size: 20px;
    line-height: 32px;
  }

  .slider-item__order-wrapper {
    margin: 0 auto;
    width: 500px;
    justify-content: center;
  }

  .slider-item__price {
    &--old-price {
      line-height: 32px;
    }
  }
}

@media (min-width: $desktop-width) {
  .slider-item {
    padding: 30px 105px 84px;
    width: $desktop-width;
    min-height: 714px;
  }

  .slider-item__image-wrapper {
    position: relative;
    width: 600px;
  }

  .slider-item__image {
    width: 600px;
    height: 600px;
  }

  .slider-item__description-wrapper {
    text-align: start;
    width: 625px;
  }

  .slider-item__label {
    margin-bottom: 4px;
  }

  .slider-item__description {
    margin-bottom: 40px;
  }

  .slider-item__order-wrapper {
    margin: 0;
    padding: 0;
    width: 500px;
    justify-content: flex-start;
  }
}
