.slider-pagination {
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  display: none;
  margin: 0 auto;
  padding: 0;
  min-width: 202px;
  max-width: 1010px;
  list-style: none;
}

.slider-pagination__button {
  position: relative;
  width: 62px;
  height: 24px;
  padding: 10px 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $color-primary;
    content: "";
  }

  &--active::before {
    background-color: $color-secondary;
  }

  &:hover,
  &:focus {
    outline: transparent;

    &::before {
      background-color: rgba(120, 89, 207, 0.25);
    }
  }

  &:focus:not(:focus-visible)::before {
    background-color: $color-secondary;
  }

  &:focus-visible::before {
    background-color: rgba(120, 89, 207, 0.25);
  }

  &:active {
    &::before {
      background-color: $color-secondary;
    }
  }
}

@media (min-width: $desktop-width) {
  .slider-pagination {
    display: flex;
    gap: 8px;
    justify-content: center;
  }
}
