.social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px 20px;
  margin: 0;
  padding: 0;
  max-width: 160px;
  list-style: none;
}

.social-list__link {
  display: block;
  width: 40px;
  height: 40px;
  padding: 10px;
  color: $color-primary-darker;
  border-radius: 4px;

  &:hover,
  &:focus {
    color: $color-secondary;
    background-color: #f0ebff;
    outline: transparent;
  }

  &:active {
    background-color: rgba(120, 89, 207, 0.25);
  }
}
