.user-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0 60px 0 0;
  list-style: none;
}

.user-navigation__link {
  display: block;
  padding: 19px 20px;
  color: $color-text;
}

.user-navigation__text {
  display: none;
}

@media (min-width: $tablet-width) {
  .user-navigation {
    padding: 0;
  }

  .user-navigation__link {
    padding: 32px 22px;
  }
}
