.user-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0 60px 0 0;
  list-style: none;
}

.user-navigation__item {
  color: $color-text;
}

.user-navigation__link {
  display: block;
  min-width: 60px;
  padding: 22px 20px 18px;
  color: inherit;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  &:active {
    background-color: #f0ebff;
  }
}

.user-navigation__text {
  display: none;
}

@media (min-width: $tablet-width) {
  .user-navigation {
    padding: 0;
  }

  .user-navigation__link {
    padding: 32px 22px 28px;
  }
}

@media (min-width: $desktop-width) {
  .user-navigation {
    gap: 0 20px;
  }

  .user-navigation__link {
    display: flex;
    position: relative;
    padding: 32px 20px 32px 44px;

    &:hover,
    &:focus {
      color: $color-secondary;
      outline: transparent;
    }

    &:active {
      color: $color-secondary;
    }
  }

  .user-navigation__text {
    display: block;
  }

  .user-navigation__icon {
    position: absolute;
    top: calc(50% - 9px);
    left: 20px;
  }
}
