.user-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0 60px 0 0;
  list-style: none;
}

.user-navigation__link {
  display: block;
  padding: 19px 20px;
  color: $color-text;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.user-navigation__text {
  display: none;
}

@media (min-width: $tablet-width) {
  .user-navigation {
    padding: 0;
  }

  .user-navigation__link {
    padding: 32px 22px;
  }
}

@media (min-width: $desktop-width) {
  .user-navigation__link {
    position: relative;
    padding: 32px 20px 32px 44px;
  }

  .user-navigation__text {
    display: block;
  }

  .user-navigation__icon {
    position: absolute;
    top: calc(50% - 9px);
    left: 20px;
  }
}
