.checkbox-toggle__label {
  position: relative;
  padding: 2px 0 2px 52px;
  cursor: pointer;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 42px;
    height: 24px;
    background-color: $color-primary-darker;
    border-radius: 12px;
    content: "";
  }

  &::after {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background-color: $color-primary;
    border-radius: 50%;
    content: "";
    transform: translateX(0);
    transition: all 0.5s;
  }
}

.checkbox-toggle__toggle:checked + .checkbox-toggle__label {

  &::before {
    background-color: $color-secondary;
  }

  &::after {
    transform: translateX(18px);
    transition: all 0.5s;
  }
}

.checkbox-toggle__toggle {

  &:hover,
  &:focus {
    & + .checkbox-toggle__label::before {
      background-color: rgba(120, 89, 207, 0.25);
      border: 2px solid $color-secondary-lighter;
    }
  }

  &:focus:not(:focus-visible) + .checkbox-toggle__label::before {
    border-color: transparent;
    background-color: $color-primary-darker;
  }

  &:focus-visible + .checkbox-toggle__label::before {
    background-color: rgba(120, 89, 207, 0.25);
    border: 2px solid $color-secondary-lighter;
  }

  &:checked:focus:not(:focus-visible) + .checkbox-toggle__label::before {
    border-color: transparent;
    background-color: $color-secondary;
  }

  &:checked:focus-visible + .checkbox-toggle__label::before {
    background-color: rgba(120, 89, 207, 0.25);
    border: 2px solid $color-secondary-lighter;
  }
}

.checkbox-toggle__toggle:disabled + .checkbox-toggle__label {
  color: $color-primary-darker;
  pointer-events: none;

  &::before {
    background-color: $color-primary-medium;
  }

  &::after {
    background-color: $bg-additional;
  }
}

.checkbox-toggle__toggle:checked:disabled + .checkbox-toggle__label {

  &:before {
    background-color: $color-primary-medium;
  }

  &::after {
    background-color: $color-primary-darker;
  }
}
