.radio-button__label {
  position: relative;
  padding: 2px 0 2px 34px;
  cursor: pointer;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border: 2px solid $color-primary-darker;
    border-radius: 50%;
    content: "";
  }

  &::after {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $color-secondary;
    content: "";
    display: none;
  }
}

.radio-button__input:checked + .radio-button__label {
  &::before {
    border-color: $color-secondary;
  }

  &::after {
    display: block;
  }
}

.radio-button__input {
  &:hover,
  &:focus {
    & + .radio-button__label::before {
      border-color: $color-secondary-lighter;
    }

    & + .radio-button__label::after {
      display: block;
      opacity: 0.25;
    }
  }

  &:focus:not(:focus-visible) {
    & + .radio-button__label::before {
      border-color: $color-secondary-lighter;
    }

    & + .radio-button__label::after {
      opacity: 1;
    }
  }

  &:focus-visible {
    & + .radio-button__label::before {
      border-color: $color-secondary-lighter;
    }

    & + .radio-button__label::after {
      display: block;
      opacity: 0.25;
    }
  }
}

.radio-button__input:disabled + .radio-button__label {
  color: $color-primary-darker;
  pointer-events: none;

  &::before {
    border-color: $color-primary-medium;
  }

  &::after {
    display: none;
  }
}

.radio-button__input:checked:disabled + .radio-button__label {
  &::after {
    display: block;
    background-color: $color-primary-medium;
  }
}
